body {
	font-family: inherit;
}

.header_area + section, .header_area + div {
	margin-top: 46px
}

.profile-picture {
	width: 100px!important;
	height: 100px!important
}

.header-picture {
	width: 150px!important;
}

.hidden {
	display: none;
}

.padding-footer {
	padding-top: 50px;
	padding-bottom: 30px;
}