body {
	font-family: inherit;
}

.header_area + section, .header_area + div {
	margin-top: 46px
}

.profile-picture {
	width: 100px!important;
	height: 100px!important
}

.header-picture {
	width: 150px!important;
}

.hidden {
	display: none;
}

.padding-footer {
	padding-top: 50px;
	padding-bottom: 30px;
}

.instafeed li img {
	width: 65px;
	height: 65px;
}

.pagination li
{
	padding: 0;
}
.pagination li a {
	padding: 10px 20px;
	border: 1px solid lightgray;
	color: black;
}
	.pagination li a:hover {
		background-color: lightgray;
	}
	.pagination li.disabled a {
		visibility: hidden;
	}
	.pagination li.active a {
		background-color: #9c7e35;
		border-color: #9c7e35;
		color: white;
	}