<div class="row">
    <div class="col-md-6" ng-repeat="child in item">
        <article class="blog_style1 small">
            <div class="blog_img">
                <img class="img-fluid" ng-src="{{child.banner}}" alt="{{child.title}}">
            </div>
            <div class="blog_text">
                <div class="blog_text_inner">
                    <div class="cat">
                        <span><i class="fa fa-calendar" aria-hidden="true"></i> {{child.date}}</span>
                        <span class="pull-right"><i class="fa fa-map-pin" aria-hidden="true"></i> {{child.country}}</span>
                    </div>
                    <a href="{{child.link}}">
                        <h4>{{child.title}}</h4>
                    </a>
                    <p>{{child.description}}</p>
                    <a class="blog_btn" href="{{child.link}}">Mai mult...</a>
                </div>
            </div>
        </article>
    </div>
</div>