<div id="carouselExampleIndicators-{{carId}}" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item" ng-class="{active : $index == 0}" ng-repeat="photo in photos">
            <img class="d-block w-100 img-fluid" ng-src="{{photo.path}}" alt="{{photo.legend}}">
            <div class="carousel-caption d-none d-md-block">
                <div>{{photo.legend}}</div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators-{{carId}}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators-{{carId}}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>