<article class="blog_style1">
    <div class="blog_img">
        <img class="img-fluid" ng-src="{{item[0].banner}}" alt="{{item[0].title}}">
    </div>
    <div class="blog_text">
        <div class="blog_text_inner">
            <div class="cat">
                <span></a><i class="fa fa-calendar" aria-hidden="true"></i> {{item[0].date}}</a>
                <span class="pull-right"><i class="fa fa-map-pin" aria-hidden="true"></i> {{item[0].country}} - {{item[0].category}}</a>
            </div>
            <a href="{{item[0].link}}">
                <h4>{{item[0].title}}</h4>
            </a>
            <p>{{item[0].description}}</p>
            <a class="blog_btn" href="{{item[0].link}}">Mai mult...</a>
        </div>
    </div>
</article>